name: Crypto Bot Auto-Update

on:
  schedule:
    - cron: '0 0,12 * * *'
  workflow_dispatch:

jobs:
  update-portfolio:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Go Environment
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Run Go-Crypto-Bot
        run: go run ./cmd/main.go

      - name: Commit and Push Changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "uzunovvictor@gmail.com"
          
          git add README.md crypto_history.db
          
          if git diff --staged --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Daily crypto prices update (automated)"
            git push
          fi